@import 'variables';
@import 'mixin';
///////////////////////////////////////////////////////////////////
/*==================================*/
/*            General              */
/*   Author:     Cassius Chen     */
/*   Time:               2014.2     */
/*==================================*/
///////////////////////////////////////////////////////////////////
body {
	-webkit-font-smoothing: antialiased !important;
}
button,input,select,textarea {
	font-family:inherit !important;
}
h1,h2,h3,h4,h5,h6,.title,.header {
	font-weight:bold;
	vertical-align:middle;
}
::-webkit-scrollbar {
	height:16px;
	overflow:visible;
	width:16px
}
::-webkit-scrollbar-button {
	height:0;
	width:0
}
::-webkit-scrollbar-track {
	background-clip:padding-box;
	border:solid transparent;
	border-width:0 0 0 4px
}
::-webkit-scrollbar-track:horizontal {
	border-width:4px 0 0
}
::-webkit-scrollbar-track:hover {
	background-color:rgba(0,0,0,.05);
	box-shadow:inset 1px 0 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-track:horizontal:hover {
	box-shadow:inset 0 1px 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-track:active {
	background-color:rgba(0,0,0,.05);
	box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-track:horizontal:active {
	box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.2);
	background-clip:padding-box;
	border:solid transparent;
	border-width:1px 1px 1px 6px;
	min-height:28px;
	padding:100px 0 0;
	box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-thumb:horizontal {
	border-width:6px 1px 1px;
	padding:0 0 0 100px;
	box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0,0,0,.4);
	box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)
}
::-webkit-scrollbar-thumb:active {
	background-color:rgba(0,0,0,0.5);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35)
}

::-webkit-scrollbar-corner {
	background:transparent
}
body::-webkit-scrollbar-track-piece {
	background-clip:padding-box;
	background-color:#f5f5f5;
	border:solid #fff;
	border-width:0 0 0 3px;
	box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)
}
body::-webkit-scrollbar-track-piece:horizontal {
	border-width:3px 0 0;
	box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}
body::-webkit-scrollbar-thumb {
	border-width:1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
	border-width:5px 1px 1px
}
body::-webkit-scrollbar-corner {
	background-clip:padding-box;
	background-color:#f5f5f5;
	border:solid #fff;
	border-width:3px 0 0 3px;
	box-shadow:inset 1px 1px 0 rgba(0,0,0,.14)
}

///////////////////////////////////////////////////////////////////
/*==================================*/
/*            Button               */
/*   Author:     Cassius Chen    */
/*   Time:               2014.2    */
/*==================================*/
///////////////////////////////////////////////////////////////////
.acd.btn {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
	-webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
	transition: background-color .218s,border-color .218s,box-shadow .218s;
	-webkit-user-select: none;
	cursor: pointer;
	float: left;
	outline: none;
	display:-moz-inline-box;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;

}

//  Button Size --------------------------------
.acd.btn.small {
	@include acd-btn-size(28px,28px,8px,0,10px,0,10px);
	font-size: 12px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	min-width: 54px;
}
.acd.btn.base {
	@include acd-btn-size(36px,36px,8px,0px,20px,0px,20px);
	font-size: 14px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	min-width: 54px;
}
.acd.btn.big {
	@include acd-btn-size(42px,normal,8px,4px,12px,4px,12px);
	margin-right: 16px;
	font-size: 14px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	min-width: 54px;
}

//  Button Color -------------------------------
//////  |- White  -------------------------------
.acd.btn.white {
	@include acd-btn-color($white,$tiny-gray);
	border:none !important;
}
.acd.btn.white:hover {
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(0,0,0,.1);
	border-color:$light-gray;
}
.acd.btn.white:active {
	-webkit-box-shadow:inset 0 1px 0 #ddd;
	box-shadow:inset 0 1px 0 #ddd;
	@include acd-btn-color($gray,$light-gray);
	opacity:1;
}
//////  |- Green  -------------------------------
.acd.btn.green {
	@include acd-btn-color($green,$heavy-green);
	color: $white !important;
	box-shadow:inset 0 -1px 0 $heavy-green;
	border:1px solid transparent;
	border-bottom:1px solid $heavy-green;
}
.acd.btn.green:hover {
	-webkit-box-shadow:none;
	box-shadow:none;
	background-color: $light-green;
	border-color:$light-green;
}
.acd.btn.green:active {
	-webkit-box-shadow:inset 0 1px 0 $deep-green;
	box-shadow:inset 0 1px 0 $deep-green;
	@include acd-btn-color($dark-green,transparent);
	border-top:1px solid $deep-green;
}
//////  |- Red    -------------------------------
.acd.btn.red {
	@include acd-btn-color($red,$heavy-red);
	color: $white !important;
	box-shadow:inset 0 -1px 0 $heavy-red;
	border:1px solid transparent;
	border-bottom:1px solid $heavy-red;
}
.acd.btn.red:hover {
	-webkit-box-shadow:none;
	box-shadow:none;
	background-color: $light-red;
	border-color:$light-red;
}
.acd.btn.red:active {
	-webkit-box-shadow:inset 0 1px 0 $deep-red;
	box-shadow:inset 0 2px 0 $deep-red;
	@include acd-btn-color($dark-red,transparent);
	border-top:1px solid $deep-red;
}
//////  |- Blue   -------------------------------
.acd.btn.blue {
	@include acd-btn-color($blue,$heavy-blue);
	color: $white !important;
	box-shadow:inset 0 -1px 0 $heavy-blue;
	border:1px solid transparent;
	border-bottom:1px solid $heavy-blue;
}
.acd.btn.blue:hover {
	-webkit-box-shadow:none;
	box-shadow:none;
	background-color: $light-blue;
	border-color:$light-blue;
}
.acd.btn.blue:active {
	-webkit-box-shadow:inset 0 1px 0 $deep-blue;
	box-shadow:inset 0 2px 0 $deep-blue;
	@include acd-btn-color($heavy-blue,$heavy-blue);
	border-top:1px solid $deep-blue;
}


///////////////////////////////////////////////////////////////////
/*==================================*/
/*            Effect               */
/*   Author:     Cassius Chen     */
/*   Time:               2014.2     */
/*==================================*/
///////////////////////////////////////////////////////////////////
.acd.shadow {
	-webkit-transition: box-shadow .218s ease,color .218s ease;
	transition: box-shadow .218s ease,color .218s ease;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.acd.shadow:hover {
	-webkit-transition: box-shadow .218s ease,color .218s ease;
	transition: box-shadow .218s ease,color .218s ease ;
	box-shadow: 0 0 20px $blue-link !important;
	color: $blue-link !important;
}
.acd.warning.shadow {
	-webkit-animation-name: breathingLight; 
	-webkit-animation-duration: 1.5s; 
	-webkit-animation-iteration-count: infinite; 
	box-shadow: 0 2px 5px $light-red;
	border-color: $light-red;
	border-width: 0px 0px 4px 0px;

}
.acd.warning.shadow:hover {
	box-shadow: 0 2px 5px rgba(244,180,0,1) !important;
	border-color: rgba(244,180,0,1);
	border-width: 0px 0px 4px 0px;
}

@-webkit-keyframes 'breathingLight' { 
	0% { 
		box-shadow: 0 2px 5px $light-red;
		border-color: $light-red;
		border-width: 0px 0px 4px 0px;
	} 
	50% { 
		box-shadow: 0 2px 5px $light-red; 
		border-color: $light-red;
		border-width: 0px 0px 4px 0px;
	} 
	62.5% { 
		box-shadow: 0 2px 5px rgba(244,180,0,1); 
		border-color: rgba(244,180,0,1);
		border-width: 0px 0px 4px 0px;
	}
	75% { 
		box-shadow: 0 2px 5px $light-red; 
		border-color: $light-red;
		border-width: 0px 0px 4px 0px;
	} 
	87.5% { 
		box-shadow: 0 2px 5px rgba(244,180,0,1); 
		border-color: rgba(244,180,0,1);
		border-width: 0px 0px 4px 0px;
	} 
	100% {
	 	box-shadow: 0 2px 5px $light-red; 
	 	border-color: $light-red;
	 	border-width: 0px 0px 4px 0px;
	} 
}

///////////////////////////////////////////////////////////////////
/*==================================*/
/*            Icon                 */
/*   Author:      Google Inc.    */
/*   Time:               2014.2    */
/*==================================*/
///////////////////////////////////////////////////////////////////
.acd.icon {
	height:24px;
	width:24px;
	display:inline-block;
}
.acd.icon.small.camera {
	background:no-repeat asset-url('g-icon.png') 0 -548px;
	height:20px;
	width:20px
}
.acd.icon.small.vedio {
	background:no-repeat asset-url('g-icon.png') 0 -232px;
	height:20px;
	width:20px
}
.acd.icon.small.link {
	background:no-repeat asset-url('g-icon.png') -13px -522px;
	height:20px;
	width:20px
}
.acd.icon.small.date {
	background:no-repeat asset-url('g-icon.png') 0 -25px;
	height:20px;
	width:20px
}
.acd.icon.close {
	filter:alpha(opacity=70);
	opacity:.7;
	background:no-repeat asset-url('g-icon.png') 0 -285px;
	height:20px;
	width:20px
}
.acd.icon.add.user {
	filter:alpha(opacity=70);
	opacity:.7;
	-webkit-transform:scale(.7);
	transform:scale(.7);
	background:no-repeat asset-url('g-icon.png') 0 0;
	cursor:pointer;
	padding-right:1px
}
.acd.icon.inv.pencil {
	background:no-repeat asset-url('g-icon.png') 0 -813px;
}
.acd.icon.inv.camera {
	background:no-repeat asset-url('g-icon.png') 0 -569px;
}
.acd.icon.inv.link{
	background:no-repeat asset-url('g-icon.png') 0 -416px;
}
.acd.icon.inv.vedio {
	background:no-repeat asset-url('g-icon.png') 0 -636px;
}
.acd.icon.inv.date {
	background:no-repeat asset-url('g-icon.png') 0 -749px
}
.acd.icon.date {
	background:no-repeat asset-url('g-icon.png') 0 -749px;
	float:left;
	height:24px;
	margin-right:10px;
	width:24px
}
.acd.icon.small.mail {
	background:no-repeat asset-url('g-icon.png') 0 -221px;
	height:10px;
	width:14px
}
.tm {
	background:no-repeat asset-url('g-icon.png') -13px -719px;
	width:7px;
	height:4px;
	cursor:pointer;
	margin:6px 4px;
}
.tm:hover {
	background-image:no-repeat asset-url('g-icon.png') -13px -719px
}
.acd.icon.mute.close {
	background:no-repeat asset-url('g-icon.png') 0 -275px;
	cursor:pointer;
	height:9px;
	margin-right:3px;
	margin-top:3px;
	width:9px
}
.acd.icon.left {
	background:no-repeat asset-url('g-icon.png') -13px -719px;
	height:4px;
	margin:6px 4px;
	width:7px
}
.acd.icon.right {
	background:no-repeat asset-url('g-icon.png') -17px -324px;
	height:16px;
	width:16px
}

///////////////////////////////////////////////////////////////////
/*==================================*/
/*            NavBar               */
/*   Author:     Cassius Chen    */
/*   Time:               2014.2    */
/*==================================*/
///////////////////////////////////////////////////////////////////
.ActingButtonOfNav {
	-webkit-font-smoothing: antialiased;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.218s;
	-webkit-transition-property: border-color;
	-webkit-transition-timing-function: ease;
	border-bottom-color: $nav-link;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: $nav-link;
	border-right-color: $nav-link;
	border-top-color: $nav-link;
	color: rgb(38, 38, 38);
	border-bottom-color: $nav-link;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: $nav-link;
	border-right-color: $nav-link;
	border-top-color: $nav-link;
}
nav.acd {
	background-color: $white;
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px 0px !important;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-property: top;
	-webkit-transition-timing-function: ease;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px 0px !important;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 44px;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: top;
	transition-timing-function: ease;
	visibility: visible;
	z-index: 11;
	border-width: 0 0 0 !important;
	min-height: 44px !important;
	a.acd.logo {
		padding-bottom: 0px !important;
		padding-top: 0px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 44px !important;
		height: 44px !important;
		background-image: asset-url('logo@44x44.svg');
	}
	ul.nav.navbar-nav {
		height: 44px;
		line-height: normal;
		margin-bottom: 0px;
		margin-left: 5%;
		transition-property: padding-right;
		transition-timing-function: cubic-bezier(0, 1.12, 0.39, 0.98);
		visibility: visible;
		li {
			vertical-align: top;
			white-space: nowrap;
			width: auto;
			cursor: pointer;
			margin-bottom: 0px;
			font-weight: normal;
			margin-left: 18px;
			margin-right: 18px;
			margin-top: 0px;
			max-width: 180px;
			min-width: 20px;
			outline-color: rgb(38, 38, 38);
			outline-style: none;
			outline-width: 0px;
			overflow-x: hidden;
			overflow-y: hidden;
			text-decoration: none solid rgb(38, 38, 38);
			text-overflow: ellipsis;
			a {
				line-height: 19px !important;
				background-color: $white !important;
				padding-bottom: 10px !important;
				padding-top: 13px !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
		li:hover {
			-webkit-transition:border-color .218s;
			transition:border-color .218s;
			-webkit-transition:color .218s;
			transition:color .218s;
			@extend .ActingButtonOfNav;
		}
		li.active {
			@extend .ActingButtonOfNav;
			font-weight: bold;
		}
	}
}